*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
@font-face {
    font-family: 'openSansL';
    src: url('../../public/font/OpenSans_SemiCondensed-Light.ttf') format('truetype');
    /* Adicione outras declarações de formato aqui, se necessário */
  }
  @font-face {
    font-family: 'openSansR';
    src: url('../../public/font/OpenSans_Condensed-Regular.ttf') format('truetype');
    /* Adicione outras declarações de formato aqui, se necessário */
  }

.navbar{
    display: flex;
    position: absolute;
    width: 100%;
    justify-content: space-between;
    padding-top: 1.4rem;
    padding-bottom: 13rem;
    font: sans-serif;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.925) 40%, rgba(255, 255, 0, 0));
}

.navbar ul{
    display: flex;
    list-style: none;
    margin-right: 7vw;
    align-items: center;

}
.navbar ul li:first-child{
    color: white;
    position: relative;
    display: flex;
    justify-content: center;

}
.navbar ul li:first-child::before{
    content: "";
    display: block;
    background-color: #ffd000;
    background-image: linear-gradient(to right, rgb(255, 208, 0), rgb(241, 158, 4));
    width: 100%;
    height: 0.3rem;
    position: absolute;
    top: 1.4rem;
    border-radius: 10px;
    
}
.navbar ul li{
    margin: 0rem 1rem;
    font-family: 'openSansL';
    font-weight: 600;
    color: rgb(167, 167, 167);
}
.navbar a:first-child{
    text-decoration: none;
    display: flex;
    position: relative;
    margin-left: 4rem;

}
@import url('https://fonts.cdnfonts.com/css/netflix-font');
.logot {
    width: 9rem;
    margin-left: 7vw;
    position: absolute;
}
.navbar .logo{
    width: 3rem;
    position: absolute;
    left: -1.3rem;

}

.banner{

    width: 100%;

    height: 30vw;
    color: rgba(255, 255, 255, 0.795);
    padding-top: 14rem;
    font-family: 'openSansL';
    
    
}
.banner::before {
    content: "";
    background-image: url("../../public/img/banner/rockybalboa.jpg");
    
    opacity: 0.36; /* Ajuste a opacidade desejada */
    position: absolute;
    background-repeat: repeat;
    background-size: 100%;

    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    max-width: 100rem;
    max-height: 55rem;
    height: 56vw;
    z-index: -1; /* Coloca o pseudo-elemento atrás do conteúdo real */
    box-shadow: inset 0px -2vh 30vw 8vw rgb(0, 0, 0);
  }
  .banner::after{
    content: "";
    background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0) 90%, rgb(0, 0, 0));
    

    position: absolute;

    top: 0;
    left: 0;
    width: 100%;
    height: 56vw;
    z-index: -1; /* Coloca o pseudo-elemento atrás do conteúdo real */
  }
.banner .title{
    font-size: 60px;
    font-weight: 600;
}
  
  .banner .text{
    padding: 12vw;
  }
  .banner .text p:first-child{
    font-size: 0.9rem;
  }